doctype html
html
  head
    title Search Snake
    link(rel="stylesheet", href="/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/jquery.min.js')
  body
  .center(style='width:100%;text-align:center;')
      h1 Hello
      p.lead Welcome to Snake Search
      p 
        em By Martin Gingras
      br
      .playType(style='width:200px;left:50%;margin-left:-100px;text-align:left;position:relative;')
        .radio
          label
            input(type="radio" name="algorithmRadios" id="interactive" value="interactive" checked)
            | &nbsp;Interactive
          br
        .radio
          label
            input(type="radio" name="algorithmRadios" id="BFS" value="BFS")
            | &nbsp;Breadth First Search
          br
        .radio
          label
            input(type="radio" name="algorithmRadios" id="DFS" value="DFS")
            | &nbsp;Depth First Search
          br
        .radio
          label
            input(type="radio" name="algorithmRadios" id="a*" value="a*")
            | &nbsp;A* Search
        br
      p
        em Press the spacebar to start

script(src='/js/jade.js')
script(src='/js/lodash.min.js')
script(src='/js/snake-game.js')
script(src='/js/snake.js')
script(src='/js/board.js')
script(src='/js/gameState.js')
script(src='/js/renderBoard.js')
