extends layout

block contents
  .center(style='width:100%;text-align:center;')
      h1 Hello
      p.lead Welcome to #{title}
      p By Martin Gingras
      p
        em Press the spacebar to start
