extends layout

block contents
  .center(style='width:100%;text-align:center;')
      h1 Hello
      p.lead Welcome to #{title}
      p By Martin Gingras
      //- .playType
      //-   label
      //-     input(type="radio" name="interactive" id="interactive" value="interactive")
      //-     | Interactive
      p
        em Press the spacebar to start
